version: "3.9"

services:
  backend:
    build: .
    container_name: roomies-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mysql
    networks:
      - roomies-net

  mysql:
    image: mysql:8
    container_name: roomies-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3307:3306"
    networks:
      - roomies-net

networks:
  roomies-net:

volumes:
  db_data:
